@font-face {
    font-family: 'nobilemedium';
    src: url('font/nobile-medium-webfont.woff2') format('woff2'),
         url('font/nobile-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* * {
    box-sizing: border-box;
} */

html {
    font-family: "nobilemedium", sans-serif;
    height: 100%;
    font-size: 20px;
    color: white;
}

.background_page {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/needles_background_1920x1080.jpg");
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation_menu ul {
    list-style-type: none;
    border: 1px solid #b3b3b3;
    border-radius: 10px 10px;
    padding-left: 0;
    display: flex;
    margin-right: 20px;
}

.navigation_menu a {
    text-decoration: none;
    outline: none; 
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation_menu li:first-child > a {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.navigation_menu li:last-child > a {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.navigation_menu a:link,
.navigation_menu a:visited {
    background-color: rgba(143, 143, 148, 0.6);
    color: #ffffff;
}

.navigation_menu a:hover {
    background-color: #2c4049;
    color: #ffffff;
}

.logo {
    margin-right: auto;
    padding-left: 20px;
    padding-top: 20px;
}


/* main info */
.main_information {
    text-align: center;
}

.main_information h1 {
    margin-top: 10rem;
    font-size: 5rem;
    margin-bottom: 25px;
}

.main_information p {
    font-size: 1.5rem;
}

/* history */
.history h1 {
    margin-top: 5rem;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1.8em;
}

.history_text {
    display: flex;
}

.history_text p {
    font-size: 18px;
}


/* footer */
footer {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-top: 4rem;
}